* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    user-select: none;
}

.close {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.modals {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    position: fixed;
}

.modal__block {
    width: 100%;
    max-width: 312px;
    padding: 24px;
    background: #eee8f4;
    border-radius: 28px;
}

.modal__title {
    color: var(--m-3-sys-light-on-surface, #1c1b1f);
    font-family: "RR";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}

.modal__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal__inputs label {
    position: relative;
}

.modal__inputs span {
    position: absolute;
    left: 16px;
    top: 8px;
    font-size: 12px;
    line-height: 16px;
    color: #6750a4;
}

.modal__inputs input,
.modal__inputs textarea {
    background: #e7e0ec;
    border-radius: 4px 4px 0px 0px;
    width: 100%;
    border: none;
    outline: none;
    padding: 23px 0 9px 16px;
    font-family: "RR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    resize: none;
    border-bottom: 1px solid #1c1b1f;
}

.modal__btns {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 25px;
}

.modal__btn {
    text-align: center;
    font-family: "RR";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px 12px;
}

.modal__inputs {
    margin-top: 16px;
}

.modal__btn.cancel {
    color: #cf1b1b;
}

.modal__btn.add {
    color: #6750a4;
}